.env
.vscode/
.ci/
__pycache__/
*.py[cod]

build/
allure-report/
oscript_modules/

ConfigDumpInfo.xml
out
.scannerwork

# Файлы отслеживания загрузки конфигурации
src/cf/lastUploadedCommit.txt
src/cf/lastUploadedConfigDumpInfo.xml
objlist.txt
